.home-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  h1 {
    color: #252424;
  }
  
  p {
    color: #191717;
  }
  
  h2 {
    margin-top: 40px;
    color: #2e2d2d;
  }
  